#portrait {
  height:50%;
  float:right;
  /* display:inline-block; */
}
.post {
  width:100%;
}
.screenshot {
  background:green;
  width: 100%;
  height:300px;
  margin-bottom:20px;
}
#column1 {

}
#column2 {
  
}
